venv/
logs/*.log
__pycache__/

git add .
git commit -m "Initial CubeSat digital twin: battery, CPU, sensors, state machine"
git branch -M main
git remote add origin https://github.com/fatyguen/CubeSat-Digital-Twin.git
git push -u origin main
